@font-face {
  font-family: "Gilroy";
  src: url('/assets/Gilroy-Light.otf') format('truetype'),

}

:root  > * {
  --md-primary-fg-color:        #ed1c24;
  --md-primary-bg-color:  #ffffff;
}

